
body, html {
  margin: 0;
  height: 100%; 
  display: flex;
  justify-content: center; 
  align-items: center;
  font-family: 'Press Start 2P', cursive; 
  background-image: url(imagens/backprincipal.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  z-index: -1;
}


.container {
  margin-left: 550px;
  width: 80%;
  max-width: 1200px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7); 
  border: 3px solid #00FF00; 
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.5); 
  color: white;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  z-index: 1;
  background-image: url(imagens/container-image.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#audio {
  display: none;
}

#labelAltura {
  padding: 6px;
  border-radius: 10px;
  color: black;
  border: 2px solid #00FF00;
  margin-bottom: 20px;
}

#tituloAltura {
  font-size: 20px;
  color: #00FF00;
}

#titulo {
  color: #00FF00;
  font-size: 24px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 255, 0, 0.7); 
}

#sexo {
  padding: 6px;
  border-radius: 8px;
  border: 2px solid #00FF00;
  margin-bottom: 20px;
}

#tituloSexo {
  font-size: 20px;
  color: #00FF00;
}

.painel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#botaoCalcular {
  padding: 20px;
  font-size: 20px;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 10px;
  background-color: white;
  border: none;
  color: black;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; 
}

#botaoCalcular:hover {
  color: black;
  background-color: #00FF00;
  transform: scale(1.2);
}

#botaoMusica {
  border: none;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 0;
}

#botaoMusica img {
  width: 50px;
  height: 50px;
}

#botaoMusica:hover {
  transform: scale(1.5);
}

#resultado {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #00FF00;
  text-align: center;
}
