
body, html {
  margin: 0;
  height: 100%; 
  display: flex;
  justify-content: center; 
  align-items: center;
  font-family: 'Press Start 2P', cursive; 
  background-image: url(imagens/back2.gif);
  background-size: cover;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}


.container {
  width: 80%;
  max-width:1000px;
  max-height: 600px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.7); 
  border: 3px solid #00FF00; 
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.5); 
  color: white;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  z-index: 1;
  background-image: url(imagens/container-image.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#audio {
  display: none;
}

#labelAltura {
  margin-top: 10px;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid #00FF00;
  margin-bottom: 10px;
}


#tituloAltura {
  font-size: 20px;
  color: #00FF00;
}

#titulo {
  color: #00FF00;
  font-size: 24px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 255, 0, 0.7); 
}

#sexo {
  margin-top: 10px;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid #00FF00;
  margin-bottom: 10px;
}

#tituloSexo {
  font-size: 20px;
  color: #00FF00;
}

.painel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#botaoCalcular {
  margin-top: 10px;
  margin: auto;
  background-color: transparent;
  border: none;
}
#botaoCalcular img{
  width:200px;
  height: 150px;
}

#botaoCalcular:hover {
  transform: scale(1.3);
}

#botaoMusica {
  background-color: transparent;
  border: none;
  margin-top: auto;
  margin-left: auto;
  margin-right: 0;
}

#botaoMusica img {
  border: none;
  height: 100px;
}

#botaoMusica:hover {
  transform: scale(1.7);
}

#resultado {
  margin-top: auto;
  font-size: 18px;
  font-weight: bold;
  color: #00FF00;
  text-align: center;
}
